.wrapper {
  position: fixed;
  bottom: calc(20px + env(safe-area-inset-bottom, 0px));
  left: 0;
  z-index: 15;
  box-sizing: border-box;
  width: 100%;
  padding-right: env(safe-area-inset-right, 0px);
  padding-left: env(safe-area-inset-left, 0px);
  pointer-events: none;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
