*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--color-foreground);
  background-color: var(--color-neutral-50);
  overflow-x: hidden;
}

.app-shell {
  padding-right: var(--safe-area-inset-right, env(safe-area-inset-right, 0px));
  padding-bottom: calc(
    100px +
    var(--safe-area-inset-bottom, env(safe-area-inset-bottom, 0px))
  );
  padding-left: var(--safe-area-inset-left, env(safe-area-inset-left, 0px));
}

::selection {
  color: var(--color-foreground);
  background-color: var(--color-neutral-300);
}
